*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.calc{
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(207, 207, 207);
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    grid-gap: 2px;
    background-color: rgb(24, 23, 23);
    color: #444;
    border-radius: 4px;
    border: 5px solid #444;
    padding: 10px;
}
button {
    border-radius: 5px;
    outline: none;
    padding: 30px;
    font-size: 200%;
    font-weight: bold;
    border: 2px solid #444;
    
}
button:hover{
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #444;
}
button:active{
    background-color: #fff;
    color: #444;
    border-radius: 5px;
    border: 2px solid #444;
}
#output{
        grid-column: 1 / span 4;
        font-size: 200%;
        border-radius: 5px;
        padding-top: 30px;
        font-family:'Trebuchet MS', sans-serif;
        font-size: 400%;
        font-weight: bold;
        background-color: #b2b9b7;
        color: rgb(0, 0, 0);
        border: 3px solid #444;
        overflow-x: hidden;
        text-align: end;
}
#last_operation_history{
    color: #fff;
}
button.operator{
    background-color: rgb(17, 223, 154);
    color: #444;
}
button.operator:hover{
    background-color: aquamarine;
    color: #444;
}
button.operator:active{
    background-color: #fff;
    color: #444;
}
.special_operator{
    background-color: dodgerblue;
    color: #444;
}
.special_operator:hover{
    background-color: skyblue;
    color: #444;
}
.special_operator:active{
    background-color: #fff;
    color: #444;
}
#zero{
    grid-column: 1 / span 2;
}